@model dynamic
@{
    ViewData["Title"] = "Product";
    var cu= ViewBag.customers;
    var bi = ViewBag.buildings;
    var ba = ViewBag.batteries;
    var col = ViewBag.columns;
    var el = ViewBag.elevators;
}
@section Styles {
<link rel="stylesheet" href="~/css/myCss.css" />
}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="display-4">Products</h1>
    </div>
    
    <h3>Your Information</h3>
    <div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            
            <th>Id</th>
            <th>Company</th>
            <th>Contact</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Description</th>
            <th>Tech Contact</th>
            <th>Tech Phone</th>
            <th>Tech Email</th>
        </tr>
        </thead>
        <tbody>
            
                            @foreach (var customer in cu)
                            {
                                <tr>
                                    <td>@customer.Id</td>
                                    <td>@customer.CompanyName</td>
                                    <td>@customer.NameOfContact</td>
                                    <td>@customer.CompanyContactPhone</td>
                                    <td>@customer.EmailOfTheCompany</td>
                                    <td>@customer.CompanyDescription</td>
                                    <td>@customer.NameOfServiceTechAuthority</td>
                                    <td>@customer.TechAuhtorityPhone </td>
                                    <td>@customer.TechManagerServiceEmail</td>
                                    <td><a href='@Url.Action("Info", "Intervention", new { com = @customer.CompanyName, cont = @customer.NameOfContact, contph = @customer.CompanyContactPhone, contem = @customer.EmailOfTheCompany, des = @customer.CompanyDescription, teco = @customer.NameOfServiceTechAuthority, tecoph = @customer.TechAuhtorityPhone , tecoem = @customer.TechManagerServiceEmail })'>Edit</a></td>

                                </tr>
                            }
                        
        </tbody>
    </table>
    </div>
    <h3>Buildings</h3>
            <div>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Administrator</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Tech Contact</th>
                            <th>Tech Email</th>
                            <th>Tech Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Build in bi)
                            {
                                <tr>
                                    <td>@Build.Id</td>
                                    <td>@Build.FullNameOfTheBuildingAdministrator</td>
                                    <td>@Build.EmailOfTheAdministratorOfTheBuilding</td>
                                    <td>@Build.PhoneNumberOfTheBuildingAdministrator</td>
                                    <td>@Build.FullNameOfTheTechContactForTheBuilding</td>
                                    <td>@Build.TechContactEmail</td>
                                    <td>@Build.TechContactPhone</td>
                                    <td><a href='@Url.Action("Buildings", "Intervention", new { builId = @Build.Id})'>Report A Problem</a></td>
                                </tr>
                            }
                    </tbody>
                </table>
    
            </div>

    <h3>Batteries</h3>
        <div>
              <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Building Id</th>
                                <th>Status</th>
                                <th>Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var battery in ba)
                            {
                                <tr>
                                    <td>@battery.Id</td>
                                    <td>@battery.BuildingId</td>
                                    <td>@battery.Status</td>
                                    <td>@battery.Notes</td>
                                    <td><a href='@Url.Action("Batteries", "Intervention", new { batId = @battery.Id})'>Report A Problem</a></td>


                                </tr>
                            }
                        </tbody>
            </table>
        </div>

        <h3>Columns</h3>
        <div>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Battery Id</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Info</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                            @foreach (var column in col)
                            {
                                <tr>
                                    <td>@column.Id</td>
                                    <td>@column.BatteryId</td>
                                    <td>@column.ColumnType</td>
                                    <td>@column.Status</td>
                                    <td>@column.Info</td>
                                    <td>@column.Notes</td>
                                    <td><a href='@Url.Action("Columns", "Intervention", new { colId = @column.Id, colBatId = @column.BatteryId })'>Report A Problem</a></td>
                                    
                                </tr>
                            }
                        </tbody>
            </table>
        </div>

        <h3>Elevators</h3>
        <div>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Column Id</th>
                        <th>Serial Number</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>  
                    @foreach (var elev in @ViewBag.elevators)
                            {
                                <tr>
                                    <td>@elev.Id</td>
                                    <td>@elev.ColumnId</td>
                                    <td>@elev.SerialNumber</td>
                                    <td>@elev.Model</td>
                                    <td>@elev.ElevatorType</td>
                                    <td>@elev.Status</td>
                                    <td>@elev.Notes</td>
                                    <td><a href='@Url.Action("Elevators", "Intervention", new { elevId = @elev.Id, elevColId = @elev.ColumnId})'>Report A Problem</a></td>
                                </tr>
                            }  
                </tbody>
            </table>
        </div>
</main>
